<template name="adminCompanies">

  <div class="app-content content container-fluid">
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-6 col-xs-12 mb-1">
          <h2 class="content-header-title"> </h2>
        </div>
      </div>
      <div class="content-body">

        <form class="form" id="frmCompany">

          <div class="form-body">

            <div class="form-group">
              <label>Nome</label>
              <input type="text" id="txtCName" name="aname" value="{{ editMode.name }}" class="form-control">
            </div>

            <div class="form-group">
              <label>Preço criminal</label>
              <input type="text" name="acriminal" value="{{ editMode.criminal }}" class="form-control">
            </div>

            <div class="form-group">
              <label>Preço financeiro</label>
              <input type="number" name="afinanceira" value="{{ editMode.financeira }}" class="form-control">
            </div>
            <div class="form-group">
              <label>Preço completo</label>
              <input type="number" name="acompleta" value="{{ editMode.completa }}" class="form-control">
            </div>

            <div class="form-actions">
              <button type="submit" class="cl-submit btn btn-primary btn-lg btn-w ">
                {{ #if editMode._id }}
                  <i class="icon icon-check"></i>
                  Salvar edição
                {{ else }}
                  <i class="icon icon-plus"></i>
                  Adicionar
                {{ /if}}
              </button>
              {{ #if editMode._id }}
                <a href="/admin/companies" class="btn-reload btn btn-default btn-lg">
                  Cancelar
                </a>
              {{ /if}}
            </div>

          </div>

        </form>

          <hr>

          <div class="table-responsive">
            <table class="table">
              <thead class="thead-inverse">
                <tr>
                  <th>Nome</th>
                  <th>Criminal</th>
                  <th>Financeiro</th>
                  <th>Completa</th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                {{ #each companies }}
                <tr>
                  <td>{{ name }}</td>
                  <td>
                    R$ {{ criminal }}
                  </td>
                  <td>R$ {{ financeira }}</td>
                  <td>R$ {{ completa }}</td>
                  <td>
                    <a href="#" class="del btn btn-sm btn-danger">
                      <i class="icon-trash"></i>
                    </a>
                    &nbsp;
                    <a href="#" class="edit btn btn-sm btn-info">
                      <i class="icon-edit"></i>
                    </a>
                  </td>
                </tr>
                {{ /each }}
              </tbody>
            </table>
          </div>

        </div>
      </div>
  </div>

</template>
